@mixin flex($jc: center, $ai: center, $fd: row, $fw: nowrap) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
  flex-wrap: $fw;
}
@mixin font($fs: 16px, $fw: 400, $color: $black) {
  font-size: $fs;
  font-weight: $fw;
  color: $color;
}
@mixin positionCenter() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
