// Basic
$black: #333;
$dark: #191a20;
$primary: #ffd200;
$secondary: #8c8d96;
$tertiary: #b2b3b9;
$border: #999;
$white: #fff;
$white-sec: #dedede;

// background
$background: #f7f8fa;
$background-lighter: #eeeff3;
$background-light: #c3c3c3;
$background-mid: #6b6b6b;
$background-semi-dark: #454a4f;
$background-dark: #2f3438;
$background-dark-sec: #212121;
$background-yellow-light: #fff9df;
$drawer-background: #f7f9fa;

// dark
$dark-menu: #202a37;
$dark-bg: #0f1626;
$dark-border: #384152;
$dark-header: #3d3d3d;

// table
$tr: #474747;
$tr_sec: #292929;

// color
$blue: #3da5f5;
$blue-light: #35c5f0;
$blue-dark: #3186c4;
$blue-lighter: #ecf6fe;
$blue-neon: #0079ff;
$blue-neon-dark: #0068de;
$red: #cd1818;
$red-lighter: #d22525;
$grey: #b7b7b7;
$green: #22c58b;
$green-sec: #379237;
$green-dark: #2a7a2a;
$bf-sig: #ffd300;
$mv-sig: #ff5c00;

// value
$header-h: 60px;
$page-tit: 24px;

// index
$z-header: 10;
$z-modal: 100;
$z-selectbox: 1;
