#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4px;
  margin: 12px 0;
  button {
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;
    background-color: #ccc;
    text-align: center;
    cursor: pointer;
    &.active {
      color: #fff;
      background-color: #000;
    }
  }
}
