#formTest {
  form {
    dl {
      @include flex(flex-start);
      margin: 16px 0;
      dt {
        width: 160px;

        &.required {
          @include flex(flex-start);
          &::after {
            font-size: 12px;
            color: #999;
            content: '*필수';
          }
        }
      }
    }
  }
}
